# Tell GitHub Linguist to ignore HTML, CSS, and vendored Wireshark directories for language stats
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
realtime/Wireshark/** linguist-vendored
realtime/** linguist-vendored

# Ensure Python is strictly detected
*.py linguist-language=Python
